[2019-05-14 08:31] seabbs opened #2 "License needs package name etc."
As part of this review openjournals/joss-reviews#1434

Your license file needs to refer specifically to your package. See [here]( https://github.com/seabbs/getTBinR/blob/c43f2dc20ac036d6cc93ec32bb9b33f9b4399f28/LICENSE#L634) for an example.

[2019-05-14 08:42] seabbs opened #3 "Package release versioning"
As part of this review openjournals/joss-reviews#1434

It would be great to see explicit versioning of your package releases. This can be done with a tool like [Zenodo](https://zenodo.org) and Github tags. This is also nice to have as it gives you a software DOI to refer to on top of the JOSS paper DOI (allowing the actual version of the package used to be referenced)

As for the license see [here

[2019-05-14 08:49] seabbs opened #4 "Authorship"
As part of this review openjournals/joss-reviews#1434

I am only seeing GitHub commits from @fauvernierma?

From the paper I am assuming that the other authors are thesis advisors etc. - could you please clarify their individual contributions.

In a normal paper, this is the sort of thing that would be listed at the end but I am not sure that JOSS stipulates this.

[2019-05-14 09:05] seabbs opened #5 "Paper: Statement of need + who is this for"
As part of this review openjournals/joss-reviews#1434

At the moment I feel like readers need to look over the whole paper to get a good idea of why the package is needed. It would be great if the need could be a little clearer in the first paragraph. There may also be an issue for people who don't know why splines are a good choice.

So my reading of the need for this package is that,

1. In surv

[2019-05-14 09:11] seabbs opened #6 "References"
As part of this review openjournals/joss-reviews#1434

* Your second reference has no DOI
* [*optional*] For the links within the paper consider using markdown links rather than explicitly writing out (cleaner)

[2019-05-14 09:30] seabbs opened #7 "Community guidelines"
As part of this review openjournals/joss-reviews#1434

As an open source tool this needs clear guidelines for third parties wishing to 1) Contribute to the software 2) Report issues or problems with the software 3) Seek support

A good way to do this is to steal a page from the tidyverse toolbox.

I would like to see the following,

1. Information on how to contribute in the README.
1. Link to cod

[2019-05-14 09:46] seabbs opened #8 "Automated tests"
As part of this review openjournals/joss-reviews#1434

Looking at the testing script in the readme it looks like the code used in the vignette (I may be wrong about that!). I ran it through but as the expected output is not listed it is difficult to know if everything is working as expected!

Automated tests can be a great framework for

1. Writing tests that others can use
2. Catching errors as t

[2019-05-14 10:08] seabbs opened #9 "Documentation"
As part of this review openjournals/joss-reviews#1434

As I said in the review thread the vignette for this package is fantastic. Your within R function documentation is also very good (👍) - `survPen` has some of the best documentation I have ever seen. However, I think a few small changes could lead to some big usability improvements.

1. Flesh out the readme. I really like to see a detailed read

[2019-05-14 10:17] seabbs opened #10 "Performance claims"
As part of this review openjournals/joss-reviews#1434

As mentioned in #9 I would like to see a comparison of `survPen` to other software. How much faster/ more stable is it. In what circumstances is it better (or is it ever worse)? When does it agree/disagree

Some of these may be in the methods paper that you are submitting but without a preprint (is there one) I can't assess this.

A good targe

[2019-05-14 10:55] seabbs opened #11 "Citing"
As part of this review openjournals/joss-reviews#1434

I recommend adding citation information to the package (will need updating upon JOSS acceptance) and to the readme.

Examples for [package citation](https://github.com/seabbs/getTBinR/blob/master/inst/CITATION) and [readme](https://github.com/seabbs/getTBinR/blob/c43f2dc20ac036d6cc93ec32bb9b33f9b4399f28/README.Rmd#L126)

You may also want to s

[2019-05-14 11:03] seabbs opened #12 "Binder"
As part of this review openjournals/joss-reviews#1434

I would love to see a launch with binder option to allow people to start playing around with the package as quickly as possible.

"Binder allows you to create custom computing environments that can be shared and used by many remote users. It is powered by BinderHub, which is an open-source tool that deploys the Binder service in the cloud. One

[2019-05-14 12:59] fauvernierma commented on #3
Thank you @seabbs for clearly explaining the different steps.

As I understand from the other JOSS reviews that I read, the Zenodo archive is usually done on acceptance. So should I do it now ?

[2019-05-14 13:07] seabbs commented on #3
No problem.

Hmm I am not sure that is the case but you could be correct.

It is generally good practise to have set-up. When the paper is accepted you can then tag and archive a new version. I think that is the best way to go.

Basically, you should be tagging every major release. People can then reference the version of your software that they are using.

[2019-05-14 13:42] fauvernierma commented on #3
Ok thank you

I think it is set-up now, I just added Zenodo DOI to the README file

[2019-05-14 13:53] fauvernierma commented on #3
The corresponding commit is e8a45e32c5caff36b1c6ed3cade787433df3c584

[2019-05-14 13:53] #3 closed, assigned to nobody

[2019-05-14 13:55] seabbs commented on #3
Could you possibly wait for me to review these changes before closing? It will help me keep track of what is going on.

[2019-05-14 13:56] seabbs commented on #4
Dealt with in the review thread. Could you possibly post answers here so I can keep track :)

[2019-05-14 13:56] #4 closed, assigned to nobody

[2019-05-14 13:57] #2 closed, assigned to nobody

[2019-05-14 14:02] fauvernierma commented on #3
Sorry, maybe it is best if I let you close the issues :)

[2019-05-14 14:20] fauvernierma commented on #4
Ok sorry,

As explained in the review thread :
the four other authors/contributors and I are part of a survival working group within our research department. Two of them (Laurent Remontet and Nadine Bossard) are indeed my thesis advisors.
Laurent Roche and Laurent Remontet are cited as authors as they intervened in the core development of the package (especially in linear algebra and matrix deriva

[2019-05-14 14:21] seabbs commented on #4
Awesome thank you :)

[2019-05-14 14:42] fauvernierma commented on #10
There is indeed an extensive comparison to other existing packages in the submitted paper so I have to see which elements I am allowed to make available online (for copyright reasons)

[2019-05-14 14:44] seabbs commented on #10
Have you considered preprinting?

[2019-05-14 14:56] fauvernierma commented on #6
If I am right, the missing DOIs only concern Fauvernier2019, R and Wood2017 and I think it is normal that they do not have one : the first one is my submitted article, the second one is for the R software and the third has a ISBN number

Is there something that I am missing ?

Concerning the links, isn't the @ considered a markdown link ?

Thank you and sorry If my questions seem a bit naive

[2019-05-14 15:52] seabbs commented on #6
I only meant Fauvernier2019 for the DOI but based on what you have said I guess this is under review. It seems a shame that this isn't available to support the package as it seems so critical. As I mentioned in the other issue have you considered preprinting.

For the links I meant the GitHub links etc not the referencing - sorry for the confusion. I was suggesting that you use markdown [links](ht

[2019-05-14 16:12] fauvernierma commented on #6
Ok, thank you

I admit that the co-authors and I have not considered preprinting but hopefully the article will be accepted soon and I will be able to properly cite it.

Concerning the links, I made the following commit 1e206d5383f759e3cfe1f6417669a4e3bf9f6abc

[2019-05-14 16:15] seabbs commented on #6
Okay great - happy to close this issue.

Just a final note: I would really strongly urge you to preprint if at all possible. You can use [this](http://sherpa.ac.uk/romeo/index.php) to check the preprint policies at your target journal.

[2019-05-14 16:15] #6 closed, assigned to nobody

[2019-05-15 08:07] fauvernierma commented on #10
Hi @seabbs,

I just added a [compar](https://github.com/fauvernierma/survPen/tree/master/compar) folder
that illustrates a comparison between survPen, mgcv and rstpm2 (another reference package in the area)

I hope this will answer your question about perfomance claim (tell me if that is not the case)

Also, I am not sure that adding this folder is the best way to go, maybe I should add this to th

[2019-05-15 08:27] fauvernierma commented on #11
I added a package citation 72852b9ec56fec8180b8c4c8f6c7dc985cd5b10f (but I am not sure of how to deal with group author) and a citation header in the readme 04183aed8cb56a8a17b89f0bf9e5841e4dd26523

[2019-05-15 09:00] fauvernierma commented on #7
I added a Contributing section 8a72018ea3852dae65949c0a6195db4056729282 in the readme as well as the required [files](https://github.com/fauvernierma/survPen/tree/master/.github)

[2019-05-15 10:12] seabbs commented on #11
That looks good to me. Do you want people who use the package to also cite the methods paper - could be a good idea to mention in the readme.

* [*optional*] If you change your README to a Rmd rather than a MD you can print the output of the citation. Target output needs to be a github_document.

[2019-05-15 10:15] seabbs commented on #7
Contributing section looks good - are you interested in user submitted data? If not maybe delete that part!

Files all look good 👍

By the way, it might be a good idea to increment your package version for all these changes and add the updates to your news file under the new version title.

[2019-05-15 10:17] seabbs commented on #10
Thanks for adding this - it goes a long way to addressing my concerns. 😄

I think this would be great as a vignette - new users will probably want this information. Having it in the package documentation is also a good idea as it will likely change over time as everything gets updated.

If possible a comparison with `mgcv` using some of the new approaches would be good. Can you use `bam` (and its

[2019-05-20 12:28] fauvernierma commented on #10
As you noted, the fact that the method article is not accepted yet is a bit embarrassing. In this article, survPen is validated by simulation and is compared to other existing approaches, demonstrating its superiority regarding statistical performances and/or computational time performance.

Therefore, the way I see it, survPen’s guarantee is that article (and hopefully people will soon be able to

[2019-05-20 13:15] corybrunson commented on #9
I agree with most of what @seabbs has suggested, but i'd like to expand on (2): The original long vignette builds incrementally upon the analysis of a single data set, which i find useful, and i would suggest keeping something like it as a technical overview. It would be extremely helpful to _also_ include smaller vignettes that allow users to quickly learn the essentials of specific techniques.

[2019-05-20 13:17] seabbs commented on #9
@corybrunson - that makes a lot of sense to me.

[2019-05-20 13:27] fauvernierma commented on #8
@seabbs, I have tried the testhat approach and although I found it interesting, when it comes to survPen, I have two main concerns with it:
•	I get the interest of testhat when the tests are created as the code is being developed but now that the package is fully operational, it feels a bit unnatural to try and develop the tests
•	In the survPen package, I basically have one function: survPen. The

[2019-05-20 13:41] seabbs commented on #10
Thanks for all of this useful information! The poisson model trick was not something I had come across.

It is potentially problematic that the methods paper is not available as without it makes the software difficult to both review and use.  When accepted will the paper be open or closed access? If closed source then I can imagine this bring further problems (your users will potentially not be ab

[2019-05-20 13:50] corybrunson opened #13 "inline code formatting"
The [thorough vignette](https://htmlpreview.github.io/?https://github.com/fauvernierma/survPen/blob/master/inst/doc/survival_analysis_with_survPen.html) contains much _italicized inline code_ that would be easier to read / scan / refer back to if formatted as `verbatim inline code`. It would also help easily distinguish the code from the mathematical expressions. This is a minor point, i know, but

[2019-05-20 14:03] fauvernierma commented on #11
Thank you,

It should be ok now 922326e006138a4714044ed8432ee6f8cf970dfb

[2019-05-20 14:05] seabbs commented on #8
The updated tests look improved but I don't think they are sufficient.

These are the JOSS [guidelines](https://joss.readthedocs.io/en/latest/review_criteria.html):

**Good:** An automated test suite hooked up to an external service such as Travis-CI or similar
**OK:** Documented manual steps that can be followed to objectively check the expected functionality of the software (e.g. a sample input

[2019-05-20 14:11] seabbs commented on #11
Nice.

It looks like you need to rebuild the package and knit the readme again as it currently shows the wrong citation.

There is also a problem with the formatting your md - perhaps from kniting? it is showing the ouput type at the beginning.

[2019-05-20 14:20] corybrunson opened #14 "documentation examples"
As noted in #9 the documentation is impressive. Regarding the exported documentation (for `help()`), the primary five functions (`survPen()` and the spline constructors) include several examples, but most of the helper functions (by which i mean, all other functions) do not. And many of these functions rely on a deep understanding of the package internals to understand and test.

This leads me to

[2019-05-20 14:36] corybrunson commented on #8
I'd like to second @seabbs's previous comment. I'm able to manually run the test code and compare it to the provided output and PDFs, but it's a time-consuming and error-prone process.

While using a testing package and continuous integration service is optional, they make the adding and editing of tests much more efficient.

As an aside, whether to include tests for the helper functions may depen

[2019-05-20 15:22] corybrunson opened #15 "statement of need (readme)"
The package documentation (`?survPen`) and JOSS paper provide clear context and motivation for the package. To help users who first encounter the package on GitHub or elsewhere (and to satisfy JOSS guidelines) could you summarize these into a short statement of need in the `README`? Such a summary would also be useful to include in the `Description` field of the `DESCRIPTION` file, before the tech

[2019-05-21 08:29] fauvernierma commented on #8
Ok, thank you both

I implemented some tests using testthat (for now it is pretty basics stuff but it covers the majority of the code) and used travis and codecov to get badges in the README.

Do you think it looks ok ?

Also, to use testhtat with travis I had to add testthat as an import in the description file. Is there any other way ? Typically, when I look at your example code with getTBinR @s

[2019-05-21 13:00] corybrunson commented on #8
@fauvernierma thanks very much for the update.

The new tests confirm that the package is producing the expected kinds of objects (or throws errors when appropriate), and in some key places (excess versus total hazard, concordant penalized likelihoods) confirm that the results are meaningful. They look reasonable to me.

The advantage of producing full output tests like those in `test_survPen.r` i

[2019-05-24 15:57] seabbs commented on #8
These look much better @fauvernierma - good job. 👍

I am also okay with just the base functionality having unit tests with overall functionality having manual tests. It would be great if you could completely automate testing but this isn't a blocker for acceptance for me (as @corybrunson says doing it eventually would be good)

As @corybrunson suggests adding `testthat` (and any other dev package)

[2019-05-24 16:00] seabbs commented on #7
Just noting that this can be closed if you 1.) want users to submit data or 2.) remove that from the contributing statement.

Have a good weekend :smile:

[2019-05-25 08:11] fauvernierma commented on #7
The data part from the contributing statement is ok for me

Thanks and good weekend to you too

[2019-05-25 08:11] #7 closed, assigned to nobody

[2019-05-27 11:44] fauvernierma commented on #8
I added testthat in Suggests 416a58f5f8b604e0e1cf624324c5da274f631ebb and updated the travis.yml file 49a7ec2170b31cc54dba1a7c6dfe981a10be49c1

I think it's ok but I am not sure that the packages has been tested on Mac OS. Despite the travis.yml file, it looks like only linux has been taken into account.

Anyway, I guess this test answers another question relative to the R version that survPen act

[2019-05-27 12:03] fauvernierma commented on #5
I just added the required parts bba311cd201bd5fdd8aa4631671527c059503f6e

If it is ok with you, I will add something similar in the README as well as in the DESCRIPTION file

Thank you

[2019-05-28 08:40] seabbs commented on #8
Thanks for adding that.

So the default OS on Travis is Linux so you don't need to specify that in the OS section. I'm not an expert in configuring travis but I think if you put `os: osx` that should work. You should see an apple in the travis build list.

It would be great to see the package tested against Windows as well. I think travis now supports this but I generally use Appveyor.

Yes, that

[2019-05-28 10:18] seabbs commented on #5
Great thanks - very good.

Yes it would be nice to see something similar in the intro and description.

[2019-06-28 10:11] fauvernierma commented on #5
Hi, I added the required parts in the README and the DESCRIPTION file
00eed484685070a4fc6faefdacbbe8bd0177d627
799451abe2ae1c58a2fc577cadfaf7aefb7e85c8

Do we consider this issue closed ?

[2019-06-28 14:38] seabbs commented on #5
Yes - good job 👍

[2019-06-28 14:40] seabbs commented on #5
These are great additions. However, I think these really resolve #15 rather than this issue. This was more looking at clarifying the first paragraph of the JOSS paper.

[2019-07-01 12:20] fauvernierma commented on #5
I agree about #15 but I am not sure what is missing to resolve #5
Did not bba311cd201bd5fdd8aa4631671527c059503f6e solve the issue ?

Thank you

[2019-07-01 12:28] seabbs commented on #5
Missed that change - looks good to me closing this.

[2019-07-01 12:28] #5 closed, assigned to nobody

[2019-07-01 12:36] fauvernierma commented on #15
Hi,

I think the following 00eed48
799451a solve the issue

Thanks

[2019-07-01 16:25] corybrunson commented on #15
Thanks! The new text looks good in the README, but it should be shortened to a single paragraph for the `Description` field. The CRAN article on [Writing R Extensions](https://cran.r-project.org/doc/manuals/r-release/R-exts.html#The-DESCRIPTION-file) contains complete details, including this bit:

[2019-07-02 13:15] fauvernierma commented on #15
Hi,

Yes, Travis made me realize this pretty clearly by not wanting to load survPen :)

It is ok now 48ca526b80bc8400db20a24d3321a3fc912fe6a6 I think

Thanks

[2019-07-02 15:50] corybrunson commented on #15
Yep, i think it looks good now!

[2019-07-02 15:50] #15 closed, assigned to nobody

[2019-07-05 10:00] fauvernierma commented on #8
Hi, concerning osx it is all ok 4331167ec22ee1c961410c04b510b3038cbc7d97

However, when it comes to windows this is a bit more tricky as R software is not yet available on Travis
I tried to use Appveyor but I am a bit struggling with it. I am not even sure how it works and how to copy and paste someone else's yml file.
Do you happen to have a minimum example .yml file ?

Thanks a lot

[2019-07-05 13:45] fauvernierma commented on #13
Hi,

This should be ok now d0d6ea8dde60e2779633d051b5cfa2b2be6214c5,  f372926a9cda3cf1739566a8decccbb5dcc5a247. Indeed, it looks much better now ;)

[2019-07-05 14:04] fauvernierma commented on #14
Hi,

I understand your point. As for me, it felt important that all functions are exported so the users can get a bit of information. However, as you noted most functions do not have examples because I felt it was pointless to give any (as these functions will never get called directly by the users).

Honestly I am not sure what is best: not to export all functions or add examples for all function

[2019-07-05 17:10] corybrunson commented on #13
Yes, i found the readability much improved. Thank you!

[2019-07-05 17:10] #13 closed, assigned to nobody

[2019-07-05 17:21] corybrunson commented on #14
I just have a preference for exported functions to include examples. ; ) I think i see where you're coming from, but to my mind a user gains little from having access to a function if the behavior of that function is cannot be validated (as against an example). Put another way: Presumably you can imagine a user using these functions directly for some reason. Whatever that reason, could you include

[2019-07-08 12:10] fauvernierma commented on #11
Hi,

I think everything is in order now a7b85eb8a84507ed2399494338851f4800bd2efb

Thank you

[2019-07-09 08:16] seabbs commented on #11
Looks good.

[2019-07-09 08:16] #11 closed, assigned to nobody

[2019-07-09 08:20] seabbs commented on #14
I completely agree with @corybrunson.

 Personally, I think everything should have an example unless there is a clear reason for it not to. This helps users understand the workings of each function in the package rather than treating it as a complete black box.

A benefit of having examples for each function is that they can relatively easily be converted into meaningful tests. The tests as curren

[2019-07-09 08:22] seabbs commented on #8
Yes try using this one: https://github.com/seabbs/getTBinR/blob/master/appveyor.yml

I'd be very keen on the unit tests being expanded to be more meaningful + less automated. Looking at them it looks like quite a few of them are just checking the class etc. which isn't really testing anything (I may be wrong here :)).

[2019-07-09 12:32] fauvernierma commented on #8
ok thanks

It seems to be ok e9aa9a6bf8d3db6b2a6d907d2bf2a757d8e9f802

I have also added examples for all functions but three of them (inv.repam, cor.var and print.summary, these three are therefore not exported any longer)

I will work on the new examples to provide better tests

Thanks

[2019-07-09 12:33] fauvernierma commented on #14
I added examples 086e829433695a0cbd28c9d9f72099a610c2d327 for all functions but three of them (inv.repam, cor.var and print.summary, these three are therefore not exported any longer)

[2019-07-09 13:29] fauvernierma commented on #12
Hi,

Binder seems to be working 3c7517677b6f593a42bebec781c0e9ad6684288e

However I find it a bit slow, is it normal in your experience ?
This can be related to the connection I have at work though :)

[2019-07-09 14:18] seabbs commented on #12
Looks good to me. Thanks for adding this - a little bit of a personal passion for me.

Lagging or slow compute? Compute will be slow as they assign you a very small amount of a vCPU. Shouldn't be too laggy though.

[2019-07-09 14:18] #12 closed, assigned to nobody

[2019-07-09 14:19] seabbs commented on #12
Just run through the vignette and yes it is pretty slow. Not something for serious work but good for discovery.

[2019-07-10 09:36] fauvernierma commented on #9
Hi,

Most of what was required concerning this issue has been dealt with and there seems to be two main points left : the website and the smaller vignettes.
To me, these two points feel a bit minor relative to what the documentation has to offer. Concerning the only vignette I understand it can look a bit intimidating but it is exhaustive and its format (html) makes it easy to navigate into the di

[2019-07-10 09:46] seabbs commented on #9
The following are things that I expect a good modern package to have:

1. A quick start guide in the README
2. A comparison of the package compared to others linked from the documentation or in the documentation.
3. Package website

Happy for you to have a single vignette. Personally, I think this may scare off some users but this is a personal choice on your part.

A `pkgdown` site is great as it

[2019-07-10 09:56] seabbs commented on #14
Great. It would be good to see full comments as far as possible.

I am not sure but I think you can skip loading `survPen` in every example.

[2019-07-10 10:07] fauvernierma commented on #14
ok thanks

I would rather keep the loading part as I often forget to load it myself :)
I think it is convenient to be able to copy and paste it for every example but I do not know if it is good practice

[2019-07-10 10:14] fauvernierma commented on #8
I added more tests mostly concerning errors b871687e7a4af7c6b27d023b327980430778c243, the internal Newton algorithms 6c04e755dbe531154d1b33ebade959c65d9b0d0a and some expected prediction values aabfb8b4b91149c720ea6fc95c0eefc6b769c5431

Hopefully this is closer to what you expected. But don't hesitate to tell me if it is not :)

Thank you

[2019-07-10 12:02] corybrunson commented on #9
I agree with @seabbs about the utility of including, e.g., a quick start in the README as well as the sort of thorough vignette @fauvernierma has already written. But i think we're also on the same page about the criteria for recommendation and acceptance to JOSS. The documentation is there, so i consider that element of the review process complete. The developers (or users!) can augment it with i

[2019-07-10 12:11] fauvernierma commented on #9
Thank you both for these pieces of advice

@corybrunson, concerning the performance claims, we totally agree. I have just returned the corrected proofs along with the code associated with the paper. As soon as the Journal gives me the final link to access the code I will add it into github

Thanks again

[2019-07-10 12:24] corybrunson commented on #8
The testthat tests now test the structure of the output and the behavior of `print()` and `summary()` methods as well as classes, but also—most importantly for me—some of the numerical results (namely, the predictions). It would be good to also test the coefficient estimates, as was done by the original test files, but i think i'm morally satisfied with the current tests. Thank you @fauvernierma f

[2019-07-10 12:59] fauvernierma commented on #14
I just added some comments for each example 70c43f44cc8329c3541f95d8578cc74c1f705d5f

[2019-07-11 09:35] seabbs commented on #8
Thanks for adding those @fauvernierma - much improved.

My only remaining concern is that so many of the tests are just checking inherited class. I may be wrong but is that not just checking that any given function runs without an error?

The issue with this is that it inflates the test coverage and won't protect you (or other developers) should something change down the line. Personally, I would

[2019-07-11 09:37] seabbs commented on #14
Great - nice work. These all look good to me. Happy to close if @corybrunson agrees.

[2019-07-11 10:21] fauvernierma commented on #8
Hi @seabbs, you are right, the inherited class test is a way to check if an error occurred.

They are clearly not perfect that's why I added the prediction test file which is much more meaningful. And of course we agree on the fact that this is still an ongoing process :)

[2019-07-12 13:55] fauvernierma commented on #10
Hello to you both,

So unless I missed something, this issue about Performance Claims should be the only one left ?

As I said in another relative issue, the details to reproduce the code from my method article will be available on the Journal website. It will normally be on this page : https://rss.onlinelibrary.wiley.com/hub/journal/14679876/series-c-datasets

and then in "Volume 68 (2019), part

[2019-07-12 14:01] seabbs commented on #10
Thanks @fauvernierma

Waiting on what @corybrunson thinks about the documentation and test issues. As I said in those issues I would like a quick start in the README, a package website and more honest tests (i.e not testing for errors/not only testing for errors).

Will the paper be open access when it goes up. To me, it looked like my institution was providing access? I think that JOSS guidelines

[2019-07-12 14:08] fauvernierma commented on #10
The paper will not be open access but I think that the code will be (I can't access all articles on the website but I had no problem downloading code so far). Therefore with enough information on github in the README file this should be easy for people to reproduce the comparison with the other packages (as well as the simulation study from the article)

[2019-07-18 10:17] corybrunson commented on #10
I believe that open-access code demonstrating the performance claims will satisfy this criterion! I don't want to check it off preemptively, though, so shall we revisit this issue when the article is published?

[2019-07-18 11:25] corybrunson commented on #14
@fauvernierma could you update the package documentation? The new examples don't appear there yet.

[2019-07-19 09:00] fauvernierma commented on #10
Hi,

Indeed, I guess it is simpler if we wait for the article to be published

[2019-07-19 09:08] fauvernierma commented on #14
Yes, sorry about that, it is ok now eadbb0a92e33ccf9b488dba52ed45456c3f6e692

[2019-07-19 11:06] corybrunson commented on #14
Yes, they're showing up now. Thanks!

I ran into at least one problem, though, in the `model.cons()` example that also appears as a test:

[code]

<sup>Created on 2019-07-19 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

Does this run successfully for others?

(To caveat, i've been running the code on R v3.3.3, so i've changed `DESCRIPTION` locally to allow installation. I d

[2019-07-19 12:45] fauvernierma commented on #14
There is no problem for me with R version >= 4.0.0 so I guess version could be an issue here

[2019-07-19 13:06] fauvernierma commented on #14
ok

The "expected" argument should not be NULL here but "rep(0,100)". Otherwise, at the end of the function model.cons, the following expression (line 1979 of the survPen code)

eventXexpected <- eventX*expected

returns an error. R version < 4.0.0 does not accept the multiplication between a matrix and a NULL whereas R version >=4.0.0 accepts this

[2019-07-19 13:09] fauvernierma commented on #14
This should be ok now a58768bdcd4e99bf7dbb32bdd21fa981f818e111

[2019-07-19 13:15] fauvernierma commented on #14
To support my explanation see
https://cran.r-project.org/bin/windows/base/old/3.4.0/NEWS.R-3.4.0.html

"In integer arithmetic, NULL is now treated as integer(0) whereas it was previously treated as double(0)."

[2019-07-19 14:18] corybrunson commented on #14
Aha, OK, then not only does the example work, but the default value `expected = NULL` is appropriate for R `v>=3.4.0`. Since this is a key point, i would suggest leaving `expected = NULL` in the test but changing it to `expected = rep(0, 100)` in the example. Or, to make the package more backward-compatible, the function could be amended to handle `expected = NULL` more explicitly. But that's not

[2019-07-19 14:18] #14 closed, assigned to nobody

[2019-07-19 14:22] fauvernierma commented on #9
Hello,

I just added a Quick Start with a couple of figures 90349fdc68d8295894429957f2d13084e559fd47

[2019-07-19 19:49] corybrunson commented on #9
The Quick Start is immensely helpful! Thanks for that @fauvernierma. My only suggestion is to add a concluding sentence after the excess hazard surface, to make the takeaway explicit and to help separate the quick start from the next section (contributing). (This is not a requirement for recommendation, just a stylistic suggestion.)

[2019-07-22 08:54] fauvernierma commented on #9
You are rigth this is better now f1e6e6ac06c838679d858432de26244db0f16335

Thanks

[2019-07-25 07:15] fauvernierma commented on #10
Hello,

The article has published in early view. It is available with its Supplementary material here
https://rss.onlinelibrary.wiley.com/doi/full/10.1111/rssc.12368

Normally you can access it with a University access

The associated code is available here
https://github.com/fauvernierma/code_Fauvernier_JRSSC_2019

Have a great day

[2019-07-25 15:48] corybrunson commented on #10
Congrats @fauvernierma ! I'll have a look at the paper and try out the comparison code ASAP.

By the way, if there are any references to this "forthcoming" paper in the survPen documentation, have you updated them?

[2019-07-25 15:56] fauvernierma commented on #10
Thanks !

There is a reference at the end of the README. I will update it to inform people that they can try out the comparison code

By the way, starting from tomorrow I will be on vacation until August 19 so I will be able to see your messages but I will not always be able to update the github page

[2019-07-30 18:22] corybrunson commented on #10
I'm not versed in the comparison packages but the demonstration script `0000_Compar_packages.R` clearly suggests that survPen scales (in terms of combinatorial tensor effects) better than the comparator implementations. It would be nice to have the comparisons looped, so that they could be more easily and compactly expanded (e.g. to include different data sets or additional combinations of paramet

[2019-07-30 18:28] seabbs commented on #10
Congrats on the paper @fauvernierma! I agree that the comparison scripts do the job but also agree with @corybrunson suggestions for improvements.

I'd like to see these comparisons more clearly linked in the documentation. Ideally, as I have commented previously, these would be in the documentation but I am happy to leave that for a future update.  So I think the only work left to do for JOSS acc

[2019-07-30 18:30] seabbs commented on #8
Do you think the current testing suite is sufficient @corybrunson? I noted my concerns above but am happy to close this and leave them to later updates if you think that makes sense?

[2019-07-30 18:32] seabbs commented on #9
Quickstart is a really nice addition thanks @fauvernierma. The final thing is a link to the performance claims in the documentation.

Website is optional (but encouraged).

[2019-07-30 18:38] seabbs commented on #9
Sorry just noticed that both the binder and appveyor badges have been dropped from the README - could you clarify why @fauvernierma?

[2019-07-30 19:06] corybrunson commented on #8
@seabbs thanks for checking. : ) I think my take on this issue is the same as on the performance demo, in that i have some suggestions for improvements but that they rise to a level slightly higher than the acceptance requirements. The real demonstration of a package's utility is that people use it, and i'll bet that use cases will more precisely indicate the sorts of tests that are needed.

[2019-07-30 19:09] seabbs commented on #8
No problem! I agree, nice to have but not essential here.

 @fauvernierma I would really recommend taking another look at your tests when and if you have a chance. Still, these are much improved so good job 😄

 I am happy to close (and will do so).

[2019-07-30 19:09] #8 closed, assigned to nobody

[2019-07-31 08:49] fauvernierma commented on #10
Hello to you both,

I just added the necessary information in the README bd70d4178efc46e64e4eb0f056909adeb294d9c1

Please let me know if anything is missing

Thank you

[2019-07-31 08:50] fauvernierma commented on #9
That's clearly a mistake on my part, sorry (wrong copy and paste I guess)

They are back again bd70d4178efc46e64e4eb0f056909adeb294d9c1

Thanks

[2019-07-31 08:50] seabbs commented on #10
Thanks - could you make it a little more obvious?

Perhaps with its own section/ higher up.

[2019-07-31 08:51] #9 closed, assigned to nobody

[2019-07-31 09:58] fauvernierma commented on #10
Of course,

this should be better cf7ab3d4b97a144d37f0710568ce7509205b3539

[2019-07-31 10:06] seabbs commented on #10
Excellent!

[2019-07-31 10:06] #10 closed, assigned to nobody

[2019-08-23 16:52] modedec opened #21 "Confidence Intervals for Hazard Ratios"
How can the Hazard Ratio confidence intervals be calculated

1)survPen(...)            -> model
2)predict(model,...)  -> pred_1 and pred_2
3)`HR=pred_1$haz/pred_2$haz `

Could one just do error propagation? f(x,y)=x/y
var(HR)=(1/y*dy)+(x/y^2 dx)^2+(1/y^2 dy dx)^2

[2019-08-26 08:18] fauvernierma commented on #21
Hello @modedec and thank you for your question

The simplest way to do it is with the log hazard ratio :

log(HR) = log(haz1) - log(haz2) = (X1 - X2)%*%model$coef

where X1 and X2 are the model matrix associated with each log-hazard

Thus, the variance for the log hazard ratio is:
Var(log(HR)) = (X1 - X2) %*% model$Vp %*% t(X1 - X2)

With survPen, you can use the option: type="lpmatrix" for the pr

[2019-08-26 08:18] fauvernierma commented on #21
Don't hesitate if something is not clear and close the issue if this is ok for you

Thanks and have a great day

[2019-08-26 13:32] fauvernierma commented on #21
Erratum, in my answer, one must read :

haz.ratio<-as.vector(exp(log.haz.ratio)) instead of haz.ratio<-as.vector(exp(pred.haz.ratio))

Also, there are * missing at the very end:

haz.ratio.inf<-as.vector(exp(log.haz.ratio-qt.norm*std))
haz.ratio.sup<-as.vector(exp(log.haz.ratio+qt.norm*std))

[2019-08-27 21:22] modedec commented on #21
Thank you for taking the time to answer our questions.
We gonna try to implement your answer in the next couple of days and will come back to you.

Thx for the great package, have a great day

[2019-08-29 19:18] modedec commented on #21
We checked the result with the cox timesplitting approach. Your solution works fine:

[code]

Thank you for your support, we highly appreciate it.

[2019-08-29 19:18] #21 closed, assigned to nobody

[2019-09-06 10:41] modedec opened #22 "Test if Hazardratios differ significantly"
We calculated several predicted Hazard Ratios (risk1/ref, risk2/ref), how can I test at which timepoint there is no significant difference between the two?

H0: There is a Differenze in Hazard ratios between risk1/ref and risk/ref
Goal: Reject H0

We have the 95 CI for both Hazard Ratios (see Issue Hazard Ratios). Do I go for a t-Test, if so, how can I figure out the degrees of freedom in order to

[2019-09-10 14:26] fauvernierma commented on #22
Hello @modedec and thanks for your question

The notion of statistical testing when one deals with a penalized model is a very complicated one (you can look at Wood 2017 : Generalized additive models an introduction with R for an overview)

In your case I would simply plot both hazard ratios with CIs and look for where the CIs do not overlap  (this would give you the segment on which there is a si

[2019-09-11 10:34] modedec commented on #22
Thank you very much for your answer, the reference, and the provided solution.
We like your package a lot, it gives us new insight into our data. We are looking forward using it in a publication.

Best regards,
Ivo

[2019-09-11 10:35] #22 closed, assigned to nobody

[2021-12-02 09:29] rsund opened #23 "Problems with piecewise constant models"
First, thank you for very useful and nice piece of software that provides a lot of new tools for working with hazard.based models. In one of my applications I, however, encountered a problem that I was not able to solve by myself.

To provide you a reproducible example, I tried to replicate the problem with the data generated in your own vignette. So, here is first the code borrowed directly from

[2021-12-21 09:42] abdoudesouki opened #24 "function instr"
@fauvernierma
code copied from answer without giving link to it, in package survPen
https://stackoverflow.com/a/33005653/5421090
Please correct that.

[2022-07-01 09:57] fauvernierma commented on #24
Sorry for that, this is clearly not good practice

Just added the source material in the following commit
14d9a132a5a8b946cfbb74fde79a555db6bb5b02

This will appear in the CRAN version as soon as I upload a new survPen version

Have a great day

[2022-07-01 10:08] fauvernierma commented on #23
Hi and sorry for the huge delay

The problem comes from the fact that survPen has no way to know that the variable 'fucut2' actually represents time

For the integration part to work in the likelihood computation, everytime you want to specify a function of time you have to make the 't1' variable (so here 'fu') appear explicitly inside the formula

Using the following formula should work (in your

[2022-11-25 19:38] #24 closed, assigned to nobody

[2022-11-25 19:38] #23 closed, assigned to nobody